body{
  background-color:#f5f3f2;
}

a {
  color: #00B7FF;
}

span.warning{
  color:#eeaa00;
}

span.error{
  color:#dd0000;
}

span.ok{
  color:#00aa00;
}

.dinner{
  margin-bottom: 0.5em;
  border-radius: 0.3em;
}

.badge-info{
  background-color: #fff4eb;
  color:#e06400;
}
.badge-info.na{
  color: #ed9c6d;
}

.icon-xinxi {
  color:#e06400;  
}
.icon-xinxi.na {
  color:#ed9c6d;  
}
.cert-title{
  text-align: center;
  color: coral;
}

.bg-dinner {
  background-color: #e06400 !important;
}

.bg-dinner.na{
  background-color: #ed9c6d !important;
}

.card-body {
  padding:1em;
}
.card-header{
  padding:0.7em 1em;
  color: #fff4eb;
  cursor:hand
}

.card-header.na{
  padding:0.7em 1em;
  color: #ffffff;
}

.header-hash {
  margin-bottom:-0.6em;
  color:#fdd9c4;
}
.cert-name{
  text-align: left;
}

.cert-text{
  text-align: left
}

.cert-issuer{
  text-align: right;
}

.cert-date{
  text-align: right;
}

#ex1Slider .slider-selection {
	background: #17a2b8;
}
.tooltip.in {
  opacity: 0.9;
}

.btn-mutil-line{
  margin-top:0.8em;
}
.text-nowrap{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dinner-header.collapsed > h5 > span.iconfont:before {
  content: "\e601";
}

.dinner-header > h5 > span.iconfont:before {
  content: "\e600";
}